.imagesPageWrapper {
  padding: 4rem 7rem;
  background-color: '#ececec';
  min-height: 100vh;

  .titleRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
    .goBackWrapper {
      > a {
        text-decoration: none;

        > span {
          font-size: 2.5em;
          color: #272044;
          opacity: 70%;
        }
      }
    }
    .title {
      color: #272044;
      font-size: 2.5em;
    }
  }

  .imagesGrid {
    column-count: 3;
    column-gap: 2rem;
    .imageWrapper {
      display: grid;
      grid-template-rows: 1fr auto;
      margin-bottom: 1rem;
      break-inside: avoid;
      .image {
        grid-row: 1 / -1;
        grid-column: 1;
      }
    }
  }
}
