.customButton {
  border: none;
  outline: none;
  background-color: transparent;
  border: 1px solid #ffff;
  //border-radius: 30px;
  color: #ffff;
  text-transform: uppercase;
  margin-top: 2rem;
  cursor: pointer;
  .download {
    text-decoration: none;
    color: inherit;
  }
  &.buttonSmall {
    padding: 0.5rem 1rem;
  }
  &.buttonMedium {
    padding: 1rem 3rem;
  }
  &.buttonLarge {
    padding: 2rem 4rem;
  }
  &.primaryButton {
    background-color: #ffff;
    color: #222831;
  }
  &.secondaryButton {
  }
}
