.sidebarContainer {
  background-color: #222831;
  color: #ffff;
  padding: 3rem;
  height: 100%;
  .buttonContainer {
    display: flex;
    justify-content: center;
    .buttons {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}
