.sidebarContainer {
  background-color: #222831;
  color: #ffff;
  position: relative;
  height: 100%;
  overflow: auto;
  .sidebarSubContainer {
    padding: 3rem;
    position: absolute;
    width: 100%;
    .buttonContainer {
      display: flex;
      justify-content: center;
      .buttons {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
    }
  }
}
